body {background: url(/img/bg_pattern.png) repeat top left;margin:0; font-family:calibri !important;}

h3{margin:0; font-size:16px; font-weight:bold;}

h6{margin-top:10px; font-size:14px; font-weight:normal; }

#wrapper {width:982px;border: 1px solid #FFFFFF;margin: 20px auto 0 auto;background-color: #FFFFFF;}

#header{
    width:942px;
    height:125px;
    margin: 20px 20px 0 20px;
}
a:link
{
    text-decoration: none; color: #414141;
}

a:visited
{
    text-decoration: none; color: #414141;
}

a:hover
{
    text-decoration: underline; color: #414141;
}
#header-title {
    color: #389CEA !important;
}

.posted{
    font-style: italic;
    color: #389CEA !important;
}
a:active
{
    text-decoration: none; color: #414141;
}

#header-up{
    width:942px;
    height:85px;
    margin:0;
    background-color: #414141;
}

#login{
    margin-left: 10px;
    margin-top: 5px;
}
#header-logo{
    width:400px;
    height:68px;
    margin-bottom:17px;
    margin-left:14px;
    float:left;
}

#reg-prijava {
    width:150px;
    height:15px;
    margin-top:30px;
    float:right;
}
#vijesti {
    color:#389CEA !important;
}
#reg-prijava a {
    padding: 0;
    display: block;
    line-height: 20px;
    text-decoration: none;
    font-family:calibri;
    font-size: 15px;
    color: #389CEA;
    float:left;
    font-weight:bold;
    margin-left:10px;
    margin-top: 2px;
}
#title {
    color: #717171 !important;
    text-decoration-line: none;
}
#reg-prijava a:hover {
    color:#99cc00;
}

/*
#phone{width:133px;height:85px;float:right;}

#phone1{width:15px;height:18px;background: url(../Images/icons.png); background-position:-46px -27px;margin-top:30px;float:left;}

#phone2{width:118px;height:55px;float:right;margin-top:30px;}

#contact , #phone   p{font-size:12px;text-align:center;color:#717171;font-family:open sans; margin-top:0px; margin-bottom:0px;}

#contact{width:163px;height:85px;float:right;margin-right:13px;}

#contact-img{width:19px;height:13px;background: url(../Images/icons.png); background-position:-19px -32px;margin-top:32px;float:left;}


#contact-company{width:144px;height:55px;margin:30px 0 0 0;float:right;}

*/

#header-down{width:942px;height:55px;background:url(../img/bg_hmenu.png) 100%;}

#img-search{width:16px; height:16px; background:url(../img/icons.png); background-position:0 -29px; float:right; margin:17px 15px;}

#search input {margin-top:15px; float:right;}

#horizontal-menu{width:640px; height:40px; float:left; margin:0 0 0 0; background-color: #414141;}


#horizontal-menu ul {
    list-style-type: none;
    margin:5px 0 0 20px;
    width:630px;
    height:55px;
    padding:0;
}

#horizontal-menu ul li {
    float:left;
    padding: 10 34 10 0;
}

#horizontal-menu ul a {
    padding: 0;
    display: block;
    line-height: 20px;
    text-decoration: none;
    font-family:calibri !important;
    font-size: 20px;
    color: #717171;
    font-weight: bold ;
}

#horizontal-menu ul a:hover {
    color:#99cc00;
}

#search{width:302px;
    height:55px;
    float:left;
    background-color: #414141;
}


#container{width:942px;height:851px;padding:17px 20px;}

#column-1{width:218px;height:851px;float:left;margin:0 22 0 0;}


#vertical-menu{width:218px;height:367px;background:#ebebeb;margin:0;float:left; }

.v-item{width:188px;height:15px;float:left; margin:15px 15px 0 15px;}

.v-item a{
    float:left;  padding: 0; display: block;  text-decoration: none; font-family:calibri; font-size: 12px; color: #717171; font-weight: bold ;
    width:180px; height:15px; }

.v-item:hover{color:#99cc00;}

.v-arrow{  width:8px;   height:9px; margin-top:4px; cursor:pointer; float:right;  background:url(../img/icons.png); background-position:-132px -36px; }




#sign-in{width:218px; height:147px; float:left; padding-top:23px;}
#sign-in input{ border:1px #cdcdcd solid;   background-color:#eee; padding:0; -webkit-border-radius:3px; -moz-border-radius:3px; padding-left:10px;}
#username{margin-bottom:12px;width:214px; height:34px;}
#password{margin-bottom:16px;width:214px; height:34px;}
#sign {width:93px;height:34px; background: url(../img/bg-sign.png) repeat top left;}



#pop-up{width:218px; height:100px; float:left; padding-top:10px;}
#pop-up p{font-size:12px; text-align:left; margin:20px 0 0 0;}
#pop-up span{font-weight:bold;}
#pop-up label {font-size:14px; float:left;margin-top:5px; }
#poplink{background:url(../img/popup-border.png); width:152px; height:20px; text-decoration:none;}


#column-2{width:702px;height:851px;float:left;}

#slider{width:702px; height:367px;}

#slider2{float:left; width:188px; height:367; margin-left:21px;}

.box{ background:url(../img/slideshow-thumb.png); width:188px; height:113px; margin-bottom:14px;}

.box:last-child{margin-bottom:0; }



#message{height:87px; width:702px; float:left; padding-top:30px; }


#advice{height:238px; width:702px; float:left; }
.a-up{width:221px; height:134px;margin-bottom:10px; }
.a-down{width:221; height:94; color:#717171; font-family:calibri; text-align:left; margin:0; }
.a-down p {font-size:12px;}
.a-des{width:221px; height:238px; margin-right:19px;float:left;}
.a-des:last-child{margin-right:0; }

#client{height:129px; width:702px; float:left;}
#client-up{height:26px; width:702px; }

#client-up-left{height:26px; width:639px; float:left;margin-top:6px;}
#client-up-left img{float:right; }
#client-up-left label{color:#717171;font-family:calibri; font-size:16px; }
#client-up-right{height:26px; width:63px; float:left; margin-top:6px;}
#client-up-right img {float:right; margin-left:7px; }

#client-down{height:68px; width:702px;padding-top:35px; }

/*
#main span{
margin:0 auto;
font-family:open sans; 
font-size: 16px; 
color: #717171; 
}
*/
#registration{
    width:600px;
    height:825px;
    margin:8px auto 0 auto;
    color: #555555;
    padding-left: 10px;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    -webkit-box-shadow: 7px 7px 5px 0px #d4d4d4;
    -moz-box-shadow: 7px 7px 5px 0px #d4d4d4;
    box-shadow: 7px 7px 5px 0px #d4d4d4;
    border: 1px solid #aaa;
    float:left;

}


#footer{width:100%;height:150px;margin:auto 0px;padding-left:0px;margin-right: 5px;}

#footer-up{width:600px;height:115px;background:#555;margin:auto 0px;padding-left: 0px;}

#icons {width:200px; height:30px; float:right; margin:48px 0 0 0;}

#icons a{width:25px; height:25px;margin-right:14px; float:left;}


#footer-logo{width:250px;height:90px;padding-top:25px;margin:0;float:left;}


#footer-down{height:25px;background:#4e4e4e;margin:0;padding-top:10px;}

#footer-down p{font-size:12px;}

.text{color:#717171;font-family:calibri;text-align:center;margin:0;}






