#title {
    color: #717171 !important;
    text-decoration-line: none;
}
.date{
    font-style: italic;
}
.posted{
    font-style: italic;
    color: #389CEA !important;
}

.post{
width: 600px;
}

.right {
float: right;
}