body {
    background: url(../img/bg_pattern.png) repeat top left;
    margin: 0;
    font-family: open sans;
}

#wrapper {
    width: 982px;
    border: 1px solid #e7e7e7;
    margin: 20px auto 0 auto;
    background-color: #333;
}

#header {
    width: 942px;
    height: 125px;
    margin: 20px 20px 0 20px;
}


#header-up {
    width: 942px;
    height: 85px;
    margin: 0;
}


#header-logo {
    width: 400px;
    height: 68px;
    margin-bottom: 17px;
    margin-left: 14px;
    float: left;
}

#reg-prijava {
    width: 180px;
    height: 15px;
    margin-top: 30px;
    float: right;
}

#reg-prijava a {
    padding: 0;
    display: block;
    line-height: 20px;
    text-decoration: none;
    font-family: open sans;
    font-size: 14px;
    color: #717171;
    float: left;
    font-weight: bold;
    margin-left: 10px;
}

#reg-prijava a:hover {
    color: rgb(82,139,197);
}


#header-down {
    width: 942px;
    height: 40px;
    background: url(../img/bg_hmenu.png) repeat-x top left;
}

#img-search {
    width: 16px;
    height: 16px;
    background: url(../img/icons.png);
    background-position: 0 -29px;
    float: right;
    margin: 12px 15px;
}

#search input {
    margin-top: 10px;
    float: right;
}

#horizontal-menu {
    width: 640px;
    height: 60px;
    float: left;
    background: rgb(62,62,62);
    margin: 0 0 0 0;
}

#horizontal-menu ul {
    list-style-type: none;
    margin: 0 0 0 20px;
    width: 630px;
    height: 40px;
    padding: 0;
}

#horizontal-menu ul li {
    float: left;
    padding: 10 10 10 0;
}

#horizontal-menu ul a {
    padding: 0;
    display: block;
    line-height: 10px;
    text-decoration: none;
    font-family: open sans;
    font-size: 13px;
    /*color: #717171; */
    font-weight: bold;
    background: #333;
    padding: 12px 24px;
    color: #999;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 3px;
    -webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;
    -moz-transition: background 0.3s linear 0s, color 0.3s linear 0s;
    -ms-transition: background 0.3s linear 0s, color 0.3s linear 0s;
    -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
    transition: background 0.3s linear 0s, color 0.3s linear 0s;
}

#horizontal-menu ul a:hover {
    background: #555;
    color: #FFF;
}

#search {
    width: 302px;
    height: 60px;
    float: left;

    background: rgb(62,62,62);
}

#search-down {

    margin-top:7px;
}


#container {
    width: 902px;
    height: 851px;
    padding: 30px 20px;
    background: white;
    margin: 0 auto;
}


#footer {
    width: 982px;
    height: 150px;
    margin: 0 auto;
}

#footer-up {
    height: 115px;
    background: #555;
    margin: 0;
}

#icons {
    width: 200px;
    height: 30px;
    float: right;
    margin: 48px 0 0 0;
}

#icons a {
    width: 25px;
    height: 25px;
    margin-right: 14px;
    float: left;
}


#footer-logo {
    width: 250px;
    height: 90px;
    padding-top: 25px;
    padding-left: 30px;
    margin: 0;
    float: left;
}
h1{
    color: #389CEA;
}

#footer-down {
    height: 25px;
    background: #4e4e4e;
    margin: 0;
    padding-top: 10px;
}

#footer-down p {
    font-size: 12px;
}

.text {
    color: #717171;
    font-family: open sans;
    text-align: center;
    margin: 0;
}
.currentTab{
    background: #555 !important;
    color: rgb(255, 255, 255) !important;
}


