#column-left{
    float: left;
    width: 560px;
    height: 811px;
    padding:20px;

}

#cleft-picture{
    width: 299px;
    float: left;
    height:300px;
    margin-bottom:50px;

}
#cleft-data{

    width: 300px;
    float: left;

}

#cleft-data table tr td{
    height: 40px;
    width: 135px;
    padding-bottom: 10px;


}

#cleft-data table tr td input{
    margin:0;
    height:25px;
    padding: 0;

}
input[type=submit] {
    padding:5px 15px; background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size:12px;
    color: #717171;
    width:135px;
    height:35px;
    font-weight:bold;
    margin-left:50px;
    margin-top:50px;
}

#column-right{
    float: left;
    width: 241px;
    height: 811px;
    border-left: 1px solid #cfcfcf;
    padding: 20px 0 0 20px;

}
#column-right ul{

    list-style-type: none;
    margin:0;
    padding:0;
}
#column-right ul li{
    margin-bottom:15px;

}
#column-right ul li a{
    padding: 0;
    display: block;
    line-height: 20px;
    text-decoration: none;
    font-family: open sans;
    font-size: 14px;
    color: #717171;
    margin:0;
    font-weight: bold;

}
#column-right ul li a:hover{
    color: #389CEA;

}

